#heading1 {
  padding-left: 10px;
  margin-bottom: 0px;
}
.hr {
  height: 10px;
  background: darkolivegreen;
  margin: 0px;
  padding-left: 10px;
}
.controls {
  display: flex;
  margin: 20px;
  gap: 30px;
}

.title h3 {
  background: rgb(226, 183, 103);
  color: black;
  margin: 0%;
}

.tasks {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 20px;
  /* margin: 20px; */
}

.page {
  flex: 1;
  border: 1px solid #ccc;
}

h3 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 5px;
}

li {
  margin-bottom: 10px;
}

#addButton {
  background: lightgreen;
  color: green;
}
#editButton {
  background: darkgray;
}
#deleteButton {
  background: red;
}
#completeTaskButton {
  display: flex;
  position: relative;
  height: 26px;
  padding: 0px;
  margin: auto;

  justify-items: center;
}
.completeTaskImg {
  text-align: center;
  /* padding-top: 0px; */
  /* margin: 0px; */
  width: 25px;

  /* border: 50px; */
  border: yellowgreen;
}
.modify {
  width: 125px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 20px;
}
